@define-color background  #1B3C53;
@define-color navy  #1B3C53;
@define-color denim  #456882;
@define-color beige  #D2C1B6;
@define-color egg_white  #F9F3EF;
@define-color text egg_white;
@keyframes fadeIn {
    0% {
    }
    100% {
    }
}


window {
    all:unset;
    padding: 20px;
    border-radius: 0px;
    background-color: alpha(@background,.8);
}
#inner-box {
    margin: 2px;
    padding: 5px
    border: none;
}
#outer-box {    
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: @text;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius:10;
    background-color: alpha(@background,.2);
}
#input image {
    border: none;
    color: @denim;
    padding-right:10px;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;

    border-radius:10;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}
#entry arrow {
    border: none;
    color: @beige;

}
#entry:selected {
    box-shadow: 1px 1px 5px rgba(255,255,255, .2);
    border: none;
    border-radius: 20px;
    background-color:@egg_white;
}
#entry:selected #text {
    color: @navy;
}
#entry:drop(active) {
    background-color: @beige !important;
}
